body {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/* Navbar */
.navbar{
   height: 5rem;
   background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
 color: #222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;   
}

.f-info-links,
.f-info-social,
.f-info-brand{
    width: 100%;
    vertical-align: middle; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-social i {
    margin: 0 1rem;
   font-size: 1.5rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Card */
.listing-card{
    border: none !important;
   margin: bottom 2rem; 
}
.card-img-top{
    border-radius: 1rem !important;
   width: 100% !important;
    object-fit: cover !important; 
}

.card-body{
    padding:  0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none !important;  
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    background-color: rgba(252, 252, 252, 0.33);
    opacity: 0.5;
  
}
/* New & Edit page  */
.add-btn, .edit-btn{
    background-color: #fe424d !important;
    border:none !important;
   
}

/* Show Page */
 .show-img{ 
    height: 30vh;
 }

 .btns{
   display: flex;    
 }

 .show-card{

    padding-left: 0;
    padding-right: 0;
 }

 .delete-btn{
    background-color: #fe424d !important;
    border:none !important;
    margin-left: 1rem;
 }

 .show-edt{

    border:none !important;
    background-color: #222222 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
 }

 /* Map */
#map{
    height: 400px;
    width: 80vh;
   border:1px solid black;
}